<form accept-charset="UTF-8" action="/questions/parse/1" enctype="multipart/form-data" method="post">
  <b>File_path</b><br/>
  <input type="text" name="path" value="<%=@path%>"/><br/>
  <b>Pdf_path</b><br/>
  <input type="text" name="pdf_path" value="<%=@pdf_path%>"/><br/>
  <b>Text_path</b><br/>
  <input type="text" name="txt_path" value="<%=@txt_path%>"/><br/>
  <b>Directory Unique id</b><br/>
  <input type="text" name="dir_id" value="<%=@dir_id%>"/><br/>
  <div class="start_parsing"> Click On Start to Parse the Document<br/></div>
  <div class="add_btn"><input type="submit" value="Start"/></div>
</form>
