<form accept-charset="UTF-8" action="/questions/save_questions/1" enctype="multipart/form-data" method="post">
      Add questions from a doc file<br/>
      <input type="file" name="question" value="" size="45" /><br/>
      Enter the directory name for storing the image.<br/>
      <input type="text" name="surupa_id"/><br/>
       <input type="submit" value="Add Doc File" />
</form>