<!DOCTYPE html>
<html>
  <head>
    <title>Text</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="upload"><a href="/questions/upload_questions/1" >Upload Questions</a></li>
              <li id="preview"><a href="/questions/preview/1">Preview</a></li>
              <li id="questions"><a href="/questions">Questions</a></li>
              <li id="answers"><a href="/answers">Answers</a></li>
              <li id="topics"><a href="/topics">Topics</a></li>
              <li id="sub_topics"><a href="/sub_topics">Sub_topics</a></li>
              <li id="images"><a href="/images">Images</a></li>
              <li id="passages"><a href="/passages">Passages</a></li>
              <li id="delete_all_tables"><a href="/questions/destroy_all/1">Delete All Tables</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
